<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2020 Joy Buongiorno (Her/She). 
		  Site forked from <a href="https://github.com/mpa139/allanlab">The Allan Lab</a> GitHub website;  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">copy and  modify it for your own research group.</a></p>
              <p>Carnegie Insitution for Science, <a href="https://dtm.carnegiescience.edu/">Earth and Planets Laboratory</a>.


		</div>

		<div class="col-sm-4">
      <p>Follow me on:</p>
      <ul class="social">
      <li><a href="mailto:jbuongiorno@carnegiescience.edu" class="fa fa-envelope fa-lg"></a></li>
      <li><a href="https://twitter.com/DrJoyBuongiorno" class="fa fa-twitter fa-lg"></a></li>
      <li><a href="https://github.com/jbuongio" class="fa fa-github fa-lg"></a></li>
            <li><a href="https://scholar.google.com/citations?user=3pa76GEAAAAJ&hl=en&oi=ao" class="fa fa-google fa-lg"></a></li>
      <ul>
      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-7442-0599" href="https://orcid.org/0000-0002-7442-0599" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-7442-0599</a></div>
     </div>

		<div class="col-sm-4">
		  Contact:<br />
		  Earth and Planets Laboratory, Carnegie Institution for Science<br />
		  Broad Branch Road Campus<br />
		  Washington, DC - USA<br />
		  e. <a href="mailto:jbuongiorno@carnegiescience.edu">jbuongiorno@carnegiescience.edu</a> <br />
            
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
