---
layout: default
---
<html>
<head>
<link rel="apple-touch-icon" sizes="180x180" href="http://localhost:4000/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://localhost:4000/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://localhost:4000/favicon-16x16.png">
<link rel="manifest" href="http://localhost:4000/site.webmanifest">
</head>

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the website of Joy Buongiorno. Under construction!</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
